@import "pretendard.scss";

$first: #cccccc;
$second: #666666;
$third: #FFFFFF;
$fourth: #993333;
$fifth: #03A6F8;
$six: #666699;
$seven: #000000;
$eight: #ff9933;

* {
    padding: 0;
    margin: 0;
    font-family: "Pretendard", 'Roboto', sans-serif, Arial, Helvetica;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #0f1423;
}


$mobile-contents-width: 1080px; // 쪼그라들기 시작할 시점

@mixin scale($property, $px) {

    // $w: 1px / $mobile-contents-width * 100;

    $w: calc(1px / $mobile-contents-width* 100);

    $pxs: null;
    $vws: null;

    // 여러 값에 대한 처리로 일반화
    @each $v in $px {

        // border: 1px solid black 같은 코드에서 숫자(1px)만 처리
        @if type-of($v)=='number' {
            // $px: $v / 1px;  
            $px: calc($v/1px);
            $pxs: append($pxs, if($px ==0, 0, $px + px));
            $vw: $px * $w;
            $vws: append($vws, if($vw ==0, 0, $vw + vw));
        }

        @else {
            $pxs: append($pxs, $v);
            $vws: append($vws, $v);
        }
    }

    #{$property}: $pxs;

    @media (max-width: $mobile-contents-width) {
        #{$property}: $vws;
    }
}

// 컨테이너
.container-fluid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.7fr 5.6fr;
    word-break: keep-all;
    @include scale(font-size, 40px);
    @include scale(letter-spacing, 2px);
    font-weight: bold;
    max-width: 1920px;
    height: 100vh;
    max-height: 1080px;
    justify-content: center;
    align-items: center;
    background-color: $second;

    // 네비 교육용 로고 
    nav.navi-up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bold;
        background-color: $first;
        color: $second;

        a:nth-child(1) {
            @include scale(margin-left, 60px);
        }

        a:nth-child(2) {
            @include scale(margin-right, 60px);
            // background-image: url('../img/korail.png');
            background-position-y: center;
            background-size: contain;
            background-repeat: no-repeat;
            // color: rgba($color: #000000, $alpha: 0);
        }
    }

    // 이전 //홈버튼 
    nav.menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bold;
        background-color: $seven;

        a {
            background-color: $third;
            @include scale(border, 4px solid $second);
            @include scale(border-radius, 32px);

            color: $second;
            text-decoration: none;
            @include scale(width, 210px);
        }

        a:nth-child(1) {
            @include scale(margin-left, 60px);
        }

        .nav_text {
            @include scale(font-size, 25px);
            color: $eight;
        }

        a:nth-child(3) {
            @include scale(margin-right, 60px);
        }
    }

    .main-content {
        display: flex;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: $first;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .btnA_title {
            @include scale(padding-bottom, 20px);
            @include scale(padding-top, 20px);

        }

        .btnA_wrap {
            @include scale(padding-top, 40px);
            display: inline-flex;
            @include scale(gap, 200px);

            .btnA:nth-child(1) {
                color: $third;
                @include scale(padding, 30px);
                @include scale(width, 400px);
                background-color: $second;
                @include scale(border-radius, 20px);
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
            }

            .btnA:nth-child(2) {
                color: $third;
                @include scale(width, 400px);
                @include scale(padding, 30px);
                background-color: $second;
                @include scale(border-radius, 20px);
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
            }
        }
    }

    .main-content2 {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: $first;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-self: center;
        // display: grid;
        display: none;
        grid-template-columns: 1fr 3fr;

        .left_content {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            align-items: center;
            align-content: center;
            gap: 10px;

            .start {
                background-color: $third;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                span:nth-child(1) {
                    @include scale(font-size, 25px);
                    color: $six;
                }
            }

            .arrive {
                background-color: $third;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                span:nth-child(1) {
                    @include scale(font-size, 25px);
                    color: $six;
                }
            }

            .start_day {
                background-color: $third;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                span:nth-child(1) {
                    @include scale(font-size, 25px);
                    color: $six;
                }

                span:nth-child(2) {
                    @include scale(font-size, 30px);
                }
            }

            .start_time {
                background-color: $third;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                span:nth-child(1) {
                    @include scale(font-size, 25px);
                    color: $six;
                }
            }
        }

        .right_content {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 4fr;
            align-items: center;
            align-content: center;
            gap: 10px;
            @include scale(margin-left, 15px);

            .right_content_up {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                overflow-x: scroll;
                align-items: center;
                @include scale(padding, 5px);
                @include scale(font-size, 25px);
                @include scale(gap, 10px);

                a {
                    // @include scale(width, 200px);
                    height: 100%;
                    @include scale(margin, 2px);
                    background-color: $second;
                    color: $third;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .right_content_down {
                width: 100%;
                height: 100%;
                background-color: $third;
                overflow-y: scroll;
                @include scale(padding, 20px);
                border: 5px solid $second;

                .right_wrap {
                    max-height: 20rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    @include scale(gap, 20px);

                    a {

                        border: 5px solid $seven;
                        @include scale(font-size, 30px);
                        @include scale(padding, 10px);
                        // @include scale(height, 60px);
                        background-color: $six;
                        color: $third;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include scale(border-radius, 10px);
                        box-shadow: 0 3px 10px rgba(19, 1, 21, 0.5);
                    }
                }

            }
        }

        // 오른쪽 컨텐츠2
        .right_content2 {
            height: 100%;
            display: grid;
            grid-template-rows: 4fr 1fr;
            align-items: center;
            align-content: center;
            @include scale(gap, 15px);
            @include scale(margin-left, 15px);

            .bus_timeline {
                background-color: white;
                height: 100%;
                @include scale(padding, 5px);
                overflow-y: auto;

                .timeline_wrap {
                    max-height: 20rem;

                    .timeline_up {
                        background-color: $six;
                        color: #FFFFFF;
                        display: grid;
                        @include scale(font-size, 18px);
                        @include scale(height, 50px);
                        align-items: center;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

                        div {
                            height: 100%;
                            border: 2px solid black;
                            @include scale(line-height, 44px);

                        }
                    }

                    .timeline_down {
                        display: grid;
                        @include scale(font-size, 18px);
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                        @include scale(height, 50px);
                        align-items: center;

                        div {
                            height: 100%;
                            @include scale(line-height, 44px);
                            border: 2px solid black;
                        }

                        div:nth-child(10) {
                            background-color: $fourth;
                            color: $third;
                            box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.8);
                        }
                    }
                }
            }

            .buscharge_info {
                @include scale(font-size, 30px);
                background-color: $six;
                color: $third;
                height: 100%;
                display: inline-flex;
                gap: 20px;
                justify-content: center;
                align-items: center;
            }
        }

        // 오른쪽 컨텐츠3
        .right_content3 {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 4fr 1fr;
            align-items: center;
            align-content: center;
            @include scale(gap, 15px);
            @include scale(margin-left, 15px);

            .busseat_up {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                @include scale(font-size, 18px);

                .busseat_head {
                    background-color: $eight;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .busseat_up_wrap {
                    display: grid;
                    width: 30%;
                    grid-template-rows: 1fr 1fr;
                    border: 2px solid black;

                    .plusMinusBt {
                        border-top: 2px solid black;
                        background-color: $third;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        @include scale(padding, 5px);
                    }

                    a:nth-child(1) {
                        background: url(../img/minusB.svg);
                        color: rgba(0, 0, 0, 0);
                        background-position-y: center;
                        background-position-x: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    a:nth-child(3) {
                        background: url(../img/plusB.svg);
                        color: rgba(0, 0, 0, 0);
                        background-position-y: center;
                        background-position-x: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }

            .busseat_mid {
                height: 100%;
                width: 100%;
                background-color: $third;
                display: flex;
                justify-content: center;
                align-items: center;
                @include scale(padding, 20px);
                @include scale(font-size, 20px);

                .busImg {
                    width: 100%;
                    height: 100%;
                    border: 6px solid $second;
                    @include scale(border-radius, 20px);
                    display: grid;
                    grid-template-columns: 1fr 8fr;
                    color: $second;

                    .busBgImg {
                        display: grid;
                        grid-template-rows: 1fr 1fr;

                        .driveSeat {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .busSeatImg {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr 1fr;

                        div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @include scale(margin, 8px)
                        }

                        .seatBlank {
                            border: solid 2px $second;
                            @include scale(border-radius, 8px);
                            background-color: $first;
                        }

                        .seatSold {
                            border: solid 2px $second;
                            @include scale(border-radius, 8px);
                            background-color: $second;

                        }
                    }
                }
            }

            .busseat_tail {
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                @include scale(padding, 5px);
                @include scale(font-size, 20px);
                justify-items: center;

                .ticketSum {
                    width: 80%;
                    border: solid 2px black;
                    display: inline;
                    justify-content: center;
                    align-self: center;
                }

                .priceSum {
                    width: 80%;
                    border: solid 2px black;
                    display: inline;
                    justify-content: center;
                    align-self: center;
                }

                .busseatBt {
                    width: 80%;
                    border: solid 2px black;
                    @include scale(padding, 5px);
                    @include scale(font-size, 30px);
                    background-color: $fourth;
                    color: $third;
                    @include scale(border-radius, 10px);
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1), 0 3px 10px rgba(0, 0, 0, 0.5);
                    justify-content: center;
                    align-self: center;
                }
            }
        }


        // 오른쪽 컨텐츠4
        .right_content4 {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 4fr 1fr;
            align-items: center;
            align-content: center;
            justify-items: center;

            @include scale(gap, 15px);
            @include scale(margin-left, 15px);
            background-color: $third;

            .ticketUp {
                background-color: $fifth;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $third;
            }

            .ticketMid {

                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                align-items: center;
                @include scale(padding, 20px);
                @include scale(font-size, 20px);
                @include scale(gap, 20px);

                .ticketMidIn {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    border: 2px solid black;
                }
            }

            .ticketDown {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $fourth;
                color: $third;
                width: 40%;
                height: 80%;
                @include scale(border-radius, 10px);
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 1), 0 3px 10px rgba(0, 0, 0, 0.5);
                @include scale(margin-bottom, 20px);
            }
        }

        // 오른쪽 컨텐츠5
        .right_content5 {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 4fr;
            align-items: center;
            align-content: center;
            justify-items: center;

            @include scale(gap, 15px);
            @include scale(margin-left, 15px);
            background-color: $third;

            .cardUp {
                background-color: $fifth;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $third;
            }

            .cardMid {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 2fr 3fr 2fr;
                justify-content: center;
                align-items: center;
                @include scale(padding, 20px);
                @include scale(font-size, 25px);
                @include scale(gap, 10px);
                justify-items: center;

                .cardImg {
                    background-image: url(../img/112.png);
                    height: 100%;
                    width: 100%;
                    background-position-y: center;
                    background-position-x: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .cardBt {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $fourth;
                    color: $third;
                    width: 60%;

                    @include scale(padding, 20px);
                    @include scale(border-radius, 10px);
                    @include scale(font-size, 30px);
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1), 0 3px 10px rgba(0, 0, 0, 0.5);
                }
            }

        }

        // 오른쪽 컨텐츠6
        .right_content6 {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 4fr;
            align-items: center;
            align-content: center;
            justify-items: center;
            @include scale(gap, 10px);
            @include scale(margin-left, 15px);
            background-color: $third;

            .outUp {
                background-color: $six;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $third;
            }

            .outMid {
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-rows: 4fr 1fr;
                @include scale(padding, 15px);
                justify-items: center;

                .outMidInfo {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-rows: 1fr 3fr;

                    .outTicketUp {
                        @include scale(font-size, 25px);
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid black;
                        background-color: #ff9933;
                        .outArrive{
                            @include scale(font-size, 16px);
                        }
                        .outDay{
                            @include scale(font-size, 16px);
                        }
                    }

                    .outTicketDown {
                        display: grid;
                        width: 100%;
                        height: 100%;
                        grid-template-columns: 3fr 2fr;
                        @include scale(font-size, 20px);
                        @include scale(padding, 15px);
                        @include scale(gap, 15px);

                        .outTicketSort {
                            border: 4px solid $second;
                            @include scale(border-radius, 10px);
                            width: 100%;
                            background-color: $third;

                            table {
                                width: 100%;

                            }

                            thead {
                                background-color: $second;
                                color: $third;
                            }

                            tbody {
                                background-color: $third;
                            }

                        }

                        .outTicketImg {
                            border: 4px solid $second;
                            @include scale(border-radius, 10px);
                            width: 100%;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            background-image: url(../img/111.png);
                            background-position-y: center;
                            background-position-x: center;
                            background-size: contain;
                            background-repeat: no-repeat;

                        }
                    }
                }

                .outBt {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $fourth;
                    color: $third;
                    @include scale(padding, 15px);
                    @include scale(border-radius, 10px);
                    @include scale(font-size, 30px);
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1), 0 3px 10px rgba(0, 0, 0, 0.5);
                }
            }



        }
    }


}





// 모달1
#modal_container {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    /* padding-top: 50px; */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    text-align: center;

    .modal_innerBox {
        position: absolute;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 32rem;
        width: 30rem;
        background-color: #fff;
        margin: auto;
        border: 0.5rem solid #000;
        font-size: 1.4rem;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 0 0 5px rgb(0, 0, 0), inset 0 0 5px rgb(0, 0, 0), 0 0 0 5px #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


// 모달2
#modal_container2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    /* padding-top: 50px; */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    text-align: center;

    .modal_innerBox2 {
        position: absolute;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 32rem;
        width: 30rem;
        background-color: #fff;
        margin: auto;
        border: 0.5rem solid #000;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 0 0 5px rgb(0, 0, 0), inset 0 0 5px rgb(0, 0, 0), 0 0 0 5px #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .loader{
            /* /* height: 200px; */
            @include scale(width, 125px);
            @include scale(height, 125px); 
            border: 15px solid #E3E3E3;
            border-radius: 50%;
            border-right-color: $six;
            animation: spin 1s ease infinite;
            display: none;
            }
        
    
        @keyframes spin {
        100%{
            transform: rotate(360deg);
        }
        }
    
     
    }
}


// 모달2
#modal_container3 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    /* padding-top: 50px; */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    text-align: center;

    .modal_innerBox3 {
        position: absolute;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 32rem;
        width: 30rem;
        background-color: #fff;
        margin: auto;
        border: 0.5rem solid #000;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 0 0 5px rgb(0, 0, 0), inset 0 0 5px rgb(0, 0, 0), 0 0 0 5px #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .modal3_alert{
            @include scale(font-size, 50px);
            color: $fourth;
            @include scale(margin-bottom, 20px);
        }
        
        .modal3_bt{
            background-color: $fourth;
            @include scale(margin-top, 20px);
            @include scale(width, 250px);
            @include scale(height, 50px); 
            color: $third;
        }
    }
}


// 모달2
#modal_container4 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    /* padding-top: 50px; */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    text-align: center;

    .modal_innerBox4 {
        position: absolute;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 10rem;
        background-color: #fff;
        margin: auto;
        border: 0.5rem solid #000;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 0 0 5px rgb(0, 0, 0), inset 0 0 5px rgb(0, 0, 0), 0 0 0 5px #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}




// 프린트

@media print {
    body * {
      display: none;
    }
    #modal_container4,
    .modal_innerBox4 * {
      display: block;
      font-size: 10px;
    //   background-color: transparent;
    }
  }

// 미디어 쿼리 세로


@media (max-width:1080px) {
    .container-fluid {
        max-height: 720px;
    }
}